.notification {
    position: relative;
    overflow: hidden;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &-title.MuiTypography-root {
        opacity: 0.5;
        font-size: 0.9em;
        margin-bottom: 5px;
    }
}

.notification-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
